[submodule "libraries/kiro-powers"]
	path = libraries/kiro-powers
	url = https://github.com/kirodotdev/powers.git
[submodule "libraries/promptz"]
	path = libraries/promptz
	url = https://github.com/cremich/promptz.lib.git
[submodule "libraries/kiro-best-practices"]
	path = libraries/kiro-best-practices
	url = https://github.com/awsdataarchitect/kiro-best-practices.git
[submodule "libraries/product-teams"]
	path = libraries/product-teams
	url = https://github.com/aws-samples/sample-kiro-cli-prompts-for-product-teams.git
